<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="Untitled.css">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container"> <a class="navbar-brand text-primary" href="#">
        <i class="fa d-inline fa-lg fa-stop-circle"></i>
        <b> logo</b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar10">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar10">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link text-primary" href="#"><b><a href="./login.html">Sign in</a></b></a></li>
          <li class="nav-item ml-4"><a class="nav-link text-primary" href="#"><b><a href="./register.html">Register</a></b></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="py-5 text-center text-white h-100 align-items-center d-flex" style="	background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(image/pexels-pixabay-60504.jpg);	background-position: center center, center center;	background-size: cover, cover;	background-repeat: repeat, repeat;">
    <div class="container py-5">
      <div class="row">
        <div class="mx-auto col-lg-8 col-md-10">
          <h3 class="display-4 mb-3">THIS IS MULTY SENSOR ALARM</h3>
          <h3 class="text-primary mb-4" >AN OPEN SOURCE SECURITY SYSTEM</h3>
          <a href="./login.html" class="btn btn-lg btn-primary mx-1">SIGN UP</a> <a class="btn btn-lg mx-1 btn-outline-primary" href="#">LEARN MORE!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container-fluid">
      <div class="row">
        <div class="px-md-5 p-3 d-flex flex-column justify-content-center text-center col-lg-6 bg-dark">
          <h1 class="text-primary">TITOLO</h1>
          <p class="mb-3 lead text-info">testo testo testo testo testo testo testo testo testo testo testo testo testo testo testo testo testo testo sto testo testo testo testo testo testo testo testo testo testo testo testo testo testo testo testo testosto testo testo testo testo testo testo testo testo testo testo testo testo testo testo testo testo testosto testo testo testo testo testo testo testo testo testo testo testo testo testo testo testo testo testo</p>
        </div>
        <div class="p-0 col-lg-6"> <img class="img-fluid d-block" src="https://static.pingendo.com/cover-moon.svg"> </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-2 order-md-1"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-tablet.svg"> </div>
        <div class="px-md-5 col-md-6 d-flex flex-column align-items-start justify-content-center order-1 order-md-2">
          <h1 class="text-primary">TITOLO</h1>
          <p class="mb-3 text-light">testo testo testo testo testo testo testo testo testo testo testo testo testo testo testo testo testo testo&nbsp;sto testo testo testo testo testo testo testo testo testo testo testo testo testo testo testo testo testosto testo testo testo testo testo testo testo testo testo testo testo testo testo testo testo testo testosto testo testo testo testo testo testo testo testo testo testo testo testo testo testo testo testo testo </p> <a class="btn btn-primary mb-3" href="#">Let's Go</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center bg-dark text-info" >
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-12">
          <h1 class="mb-3 text-primary">Our team</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="user.svg" alt="Card image cap" width="200">
          <h4 class="text-light"><b>Acchiardi</b></h4>
          <p class="mb-0">CEO and founder</p>
        </div>
        <div class="col-lg-4 col-md-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" alt="Card image cap" width="200" src="user.svg">
          <h4 class="text-light"><b>Bassignana</b></h4>
          <p class="mb-0">Co-founder</p>
        </div>
        <div class="col-lg-4 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="user.svg" width="200">
          <h4 class="text-light"> <b>Agbonson</b></h4>
          <p class="mb-0">freelancer</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3 text-center bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="text-primary">Feauters</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4 p-4"> <i class="fa fa-rocket fa-3x text-white"></i>
          <h4> <b class="text-white"> For everyone</b></h4>
          <p class="text-info">Focus on develop your awesome IoT products. We make them available from the Internet for you.</p>
        </div>
        <div class="col-md-4 col-6 p-4"> <i class="fa fa-github fa-3x text-white"></i>
          <h4> <b class="text-white">Open Source</b></h4>
          <p class="text-info" contenteditable="true">Install the server in your own computer and use the Open Source libraries for connecting your devices.</p>
        </div>
        <div class="col-md-4 col-6 p-4"> <i class="fa fa-wrench fa-3x fa-fw text-white"></i>
          <h4 class="text-white"> <b>For makers</b></h4>
          <p class="text-info" contenteditable="true">Makers can register for free accounts to start building their IoT projects in minutes</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark py-3 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center d-md-flex align-items-center"> <i class="d-block fa fa-stop-circle fa-2x mr-md-5 text-primary"></i>
          <ul class="nav mx-md-auto d-flex justify-content-center">
            <li class="nav-item"> <a class="nav-link active" href="./new-page.html">Home</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Features</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
          </ul>
          <div class="row">
            <div class="col-md-12 d-flex align-items-center justify-content-md-between justify-content-center my-2"> <a href="#">
                <i class="fa fa-github fa-2x"></i>
              </a> </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center pl-5">
          <p class="mt-2 mb-0 text-info" contenteditable="true">© 2020-2021 multi sensor alarms. All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>