<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='./css/style.css') }}"
    />
    <title>register</title>
  </head>
  <!->
  <body>
    <div class="py-5 text-center bg-dark w-100">
      <div class="container">
        <div class="row bg-dark">
          <div class="mx-auto col-lg-6 col-10">
            <h1 class="text-primary">REGISTER TO MA</h1>
            <p class="mb-3 text-info">
              When, while the lovely valley teems with vapour around me, and the
              meridian sun strikes the upper surface of the impenetrable foliage
              of my trees.
            </p>
            <form class="text-left" id="form">
              <div class="form-group">
                <label for="form16" class="text-info">Your username</label>
                <input
                  type="text"
                  class="form-control"
                  id="form16"
                  name="username"
                  placeholder="username"
                  required="required"
                />
              </div>

              <div class="form-group">
                <label for="form18" class="text-info">Your first name</label>
                <input
                  name="name"
                  type="text"
                  class="form-control"
                  id="form18"
                  placeholder="name"
                  required="required"
                />
              </div>
              <div class="form-group">
                <label for="form18" class="text-info">Your last name</label>
                <input
                  name="surname"
                  type="text"
                  class="form-control"
                  id="form18"
                  placeholder="surname"
                  required="required"
                />
              </div>

              <div class="form-group">
                <label for="form18" class="text-info">Your email</label>
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  id="form18"
                  placeholder="example@example.com"
                  required="required"
                />
              </div>
              <div class="form-group">
                <label for="form18" class="text-info">Your phone number</label>
                <input
                  type="text"
                  name="phone"
                  class="form-control"
                  id="form18"
                  placeholder="Es: 3333333333"
                />
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="form19" class="text-info">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="form19"
                    name="psw"
                    placeholder="••••••••
••••"
                    required="required"
                    name="psw"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="form20" class="text-info">Confirm Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="form20"
                    name="psw1"
                    placeholder="••••••••••••"
                    required="required"
                    name="psw-c"
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="form-check text-info">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="form21"
                    value="on"
                    required="required"
                    name="term-privacy"
                  />
                  <label class="form-check-label" for="form21">
                    I Agree with <a href="#">Term and Conditions</a> of the
                    service
                  </label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary w-25">
                register
              </button>
              <small class="form-text text-muted text-right">
                <a href="/view/login"> Login</a>
              </small>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-dark py-3 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center d-md-flex align-items-center">
            <i class="d-block fa fa-stop-circle fa-2x mr-md-5 text-primary"></i>
            <ul class="nav mx-md-auto d-flex justify-content-center">
              <li class="nav-item">
                <a class="nav-link active" href="/view/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/team-pcto-MA/PROGETTO_MA">Features</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="https://github.com/team-pcto-MA/PROGETTO_MA">About</a></li>
            </ul>
            <div class="row">
              <div
                class="col-md-12 d-flex align-items-center justify-content-md-between justify-content-center my-2"
              >
                <a href="https://github.com/team-pcto-MA/PROGETTO_MA">
                  <i class="fa fa-github fa-2x"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center pl-5">
            <p class="mt-2 mb-0 text-info" contenteditable="true">
              © 2020-2021 multi sensor alarms. All rights reserved
            </p>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script>
      const form = document.getElementById("form");

      form.addEventListener("submit", function (e) {
        e.preventDefault();
        const data = new URLSearchParams(new FormData(this));
        console.log(data);

        fetch("/user", {
          method: "POST",
          body: data,
        })
          .then((res) => res.json())
          .then((res) => {
            console.log(res);
            if (res.status == "200") {
              alert("Succesfully registred!");
            } else {
              alert(`${res.status} : ${res.message}`);
            }
          });
      });
    </script>
  </body>
</html>
