<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='./css/style.css') }}"
    />
    <title>register_device</title>
  </head>
  <!->
  <body>
    <div class="py-5 text-center bg-dark w-100">
      <div class="container">
        <div class="row bg-dark">
          <div class="mx-auto col-lg-6 col-10">
            <h1 class="text-primary">REGISTER NEW {{user}}'s RSPi</h1>
            <p class="mb-3 text-info">
              When, while the lovely valley teems with vapour around me, and the
              meridian sun strikes the upper surface of the impenetrable foliage
              of my trees.
            </p>
            <form class="text-left" id="form">
              <div class="form-group">
                <label for="form16" class="text-info">Mac</label>
                <input
                  type="text"
                  class="form-control"
                  id="mac"
                  name="mac"
                  placeholder="mac"
                  required="required"
                />
              </div>
              <div class="form-group">
                <label for="form16" class="text-info">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  placeholder="name"
                />
              </div>
              <div class="form-group">
                <label for="form16" class="text-info">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="psw"
                  name="psw"
                  placeholder="password here"
                  required="required"
                />
              </div>

              <button
                type="button"
                onclick="reg()"
                class="btn btn-primary w-25"
              >
                register
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-dark py-3 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center d-md-flex align-items-center">
            <i class="d-block fa fa-stop-circle fa-2x mr-md-5 text-primary"></i>
            <ul class="nav mx-md-auto d-flex justify-content-center">
              <li class="nav-item">
                <a class="nav-link active" href="/view/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="https://github.com/team-pcto-MA/PROGETTO_MA">About</a></li>
            </ul>
            <div class="row">
              <div
                class="col-md-12 d-flex align-items-center justify-content-md-between justify-content-center my-2"
              >
                <a href="https://github.com/team-pcto-MA/PROGETTO_MA">
                  <i class="fa fa-github fa-2x"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center pl-5">
            <p class="mt-2 mb-0 text-info" contenteditable="true">
              © 2020-2021 multi sensor alarms. All rights reserved
            </p>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script>
      const url = new URL(window.location.href);

      const user = url.pathname.split("/")[2];
      console.log(user);

      const reg = () => {
        const psw = $("#psw").val();

        datas = { user: user, psw: psw };
        console.log(datas);
        fetch("/user/login", {
          method: "POST",
          body: JSON.stringify(datas),
        })
          .then((res) => res.json())
          .then((res) => {
            console.log(res);
            if (res.message == "done") {
              console.log("ciao");
              //__________________________________________________
              const data = {
                user: user,
                mac: document.getElementById("mac").value,
                name: document.getElementById("name").value,
              };
              console.log(data);

              fetch("/RSPi", {
                method: "POST",
                body: JSON.stringify(data),
              })
                .then((res) => res.json())
                .then((res) => {
                  let message = "";
                  if (res.message.startsWith("UNIQUE")) {
                    message = "this mac already exist";
                  } else if (res.message.startsWith("CHECK")) {
                    message = "invalid mac format";
                  } else {
                    message = res.message;
                  }
                  alert(`${res.status} , ${message}`);
                });
            } else {
              alert("invalid credentials");
            }
          })
          .catch((err) => {
            console.log(err);
          });
      };
    </script>
  </body>
</html>
