<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
      let tabHeaders = document.querySelectorAll("div");
      let tabContents = document.querySelectorAll(
        ".popup .tabs .tab-content > div"
      );

      for (let i = 0; i < tabHeaders.length; i++) {
        tabHeaders[i].addEventListener("click", function () {
          document
            .querySelector(".tabs .tab-header > .active_2")
            .classList.remove("active_2");
          tabHeaders[i].classList.add("active_2");
          document
            .querySelector(".tabs .tab-content > .active_2")
            .classList.remove("active_2");
          tabContents[i].classList.add("active_2");
        });
      }
    </script>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='./css/style-welcome.css') }}"
    />
    <link rel="stylesheet" href="../static/css/style-welcome.css" />
  </head>
  <body>
    <main class="main">
      <aside class="sidebar">
        <nav class="nav">
          <ul id="s_list">
            <li class="active" id="rspiList"><a href="#">Raspberry List</a></li>
            <li class="" id="userInfo"><a href="#">User info</a></li>
            <li class="" id="add"><a href="#">Add rspi</a></li>
            <li class="" id="logout"><a href="#">Sign Out</a></li>
            <li class="" id="logout"><a href="/view">Back to home</a></li>
          </ul>
        </nav>
      </aside>
      <section class="twitter">
        <div class="container">
          <div class="container_2" id="contenitore">
            <!--  CARD RSPI   -->
          </div>
        </div>
      </section>
    </main>

    <div id="popup">
      <div class="tabs">
        <div class="tab-header">
          <div class="active_2">Sensor_1</div>
          <div>Sensor_2</div>
          <div>sensor_3</div>
          <div>Sensor_2</div>
          <div>sensor_3</div>
          <div>Sensor_2</div>
          <div>sensor_3</div>
          <div>Sensor_2</div>
          <div>sensor_3</div>
        </div>
        <div class="tab-content">
          <div class="active_2">
            <h2>Sensor_1</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
              quam aspernatur architecto rerum quia repellendus, optio numquam,
              iusto temporibus est ut facilis esse aliquid aliquam ducimus!
              Commodi reiciendis quidem aliquid.
            </p>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat
              fuga deserunt soluta exercitationem consectetur voluptate
              assumenda, eligendi totam vel voluptates quia accusamus, facere
              reprehenderit nostrum blanditiis eius aliquam impedit ipsum.
            </p>
          </div>
          <div>
            <h2>Sensor_2</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
              quam aspernatur architecto rerum quia repellendus, optio numquam,
              iusto temporibus est ut facilis esse aliquid aliquam ducimus!
              Commodi reiciendis quidem aliquid.
            </p>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat
              fuga deserunt soluta exercitationem consectetur voluptate
              assumenda, eligendi totam vel voluptates quia accusamus, facere
              reprehenderit nostrum blanditiis eius aliquam impedit ipsum.
            </p>
          </div>
          <div>
            <h2>sensor_3</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
              quam aspernatur architecto rerum quia repellendus, optio numquam,
              iusto temporibus est ut facilis esse aliquid aliquam ducimus!
              Commodi reiciendis quidem aliquid.
            </p>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat
              fuga deserunt soluta exercitationem consectetur voluptate
              assumenda, eligendi totam vel voluptates quia accusamus, facere
              reprehenderit nostrum blanditiis eius aliquam impedit ipsum.
            </p>
          </div>
        </div>
      </div>

      <button id="button-close" onclick="togglePopup()">Close</button>
    </div>

    <script type="text/html" id="rspi">
      <div class="card_2">
        <img
          src="{{ url_for('static', filename='./image/RPi-Logo-PRINT.png') }}"
        />
        <div class="card-body_2">
          <div class="card-text_2">
            <h3>Raspberry Id: %mac%</h3>
          </div>
          <button onclick="togglePopup()">Sensor...</button>
        </div>
      </div>
    </script>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>

    <script src="{{ url_for('static', filename='./js/userPage.js') }}"></script>
  </body>
</html>
