<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='./css/style-welcome.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='./css/bassiStyle.css') }}"
    />
    <link rel="stylesheet" href="../static/css/style-userinfo.css" />

    <link rel="stylesheet" href="../static/css/style-welcome.css" />
  </head>
  <body>
    <main class="main">
      <aside class="sidebar">
        <nav class="nav">
          <ul>
            <li class="active" id="rspiList"><a href="#">Raspberry List</a></li>
            <li class="" id="userInfo"><a href="#">User info</a></li>
            <li class="" id="add"><a href="#">Add rspi</a></li>
            <li class="" id="logout"><a href="#">Sign Out</a></li>
            <li class="" id="logout"><a href="/view">Back to home</a></li>
          </ul>
        </nav>
      </aside>
      <section class="twitter">
        <div class="container">
          <div class="container_2" id="contenitore">
            <!--  CARD RSPI  OPPURE USER INFO -->

            <!--_________________________________-->
          </div>
        </div>
      </section>
    </main>

    <div id="popup">
      <div class="tabs">
        <div class="tab-header" id="sensors">
          <!--qua devi aggiungere il titolo del tab!-->
        </div>
        <div class="tab-content" id="logs">
          <!--qua devi aggiungere il testo del tab! dentro il div tab-content e non devi copiare tutto -->
        </div>
      </div>

      <button id="button-close" onclick="togglePopup()">Close</button>
    </div>

    <script type="text/html" id="rspi">
      {%if rspi|length != 0%}{% for a in rspi %}
      <div class="card_2">
        <img
          src="{{ url_for('static', filename='./image/RPi-Logo-PRINT.png') }}"
        />
        <div class="card-body_2">
          <div
            style="margin-bottom: 5px; overflow: scroll;"
            class="card-text_2"
          >
            <h3>Raspberry Id: {{a.mac}}</h3>
            {%if a.name%}
            <h3>Raspberry name: {{a.name}}</h3>
            {%endif%}
          </div>
          <input
            type="text"
            ,
            placeholder="new name"
            ,
            style="  
              border-radius: 0.25rem;
              border: 1px solid #ced4da;
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
              color: #495057;
              background-clip: padding-box;
              width: 100%;
              padding: 0.260rem 0.260rem;

              "
            id="newName,{{a.mac}}"
            class="p-1"
          />
          <button
            type="button"
            style="margin-top:15px;margin-bottom:10px"
            class="btn btn-outline-dark"
            id="changeNameBtn"
            onclick="changeName('{{a.mac}}')"
          >
            Change Name
          </button>
          <button onclick="togglePopup('{{a.mac}}')">Sensor List</button>
        </div>
      </div>
      {% endfor %} {%else%}
      <h1 class="text-primary" style="color: black;">You have no rspi</h1>
      {%endif%}
    </script>

    <script type="text/html" id="userInfoHtml">
      <div class="row">
        <div class="col-md-4">
          <div class="row-fluid user-infos">
            <div class="col-md-12">
              <div class="panel panel-primary">
                <div class="panel-heading"></div>
                <div class="panel-body">
                  <div class="row">
                    <div class="row-sm-height">
                      <div
                        class="col-md-3 col-sm-height col-sm-middle"
                        style="margin-right: 3px;"
                      >
                        <img
                          src=" {{ url_for('static', filename='./user.svg') }}"
                          alt="User Pic"
                        />
                      </div>
                      <div
                        style="
                      font-size: 20px;
                      margin-left: auto;
                      margin-right: auto; 
                      
                      "
                        class="col-md-6 col-sm-height"
                      >
                        <strong
                          ><p style="text-align: center">
                            User information:
                          </p></strong
                        ><br /><br />
                        <table
                          style="margin-left:20px; "
                          class="table table-condensed table-responsive table-user-information"
                        >
                          <tbody>
                            <tr>
                              <td>Username:</td>
                              <td>%username%</td>
                            </tr>
                            <tr>
                              <td>First name:</td>
                              <td>%name%</td>
                            </tr>
                            <tr>
                              <td>Last name:</td>
                              <td>%surname%</td>
                            </tr>
                            <tr>
                              <td>E mail:</td>
                              <td>%email%</td>
                            </tr>
                            <tr>
                              <td>Phone number:</td>
                              <td>%tel%</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-md-3 col-sm-height col-sm-middle"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>

    <script src="{{ url_for('static', filename='./js/userPage.js') }}"></script>
    <script></script>
  </body>
</html>
