<link rel="stylesheet" href="../static/css/style-userinfo.css" />

<div class="row">

    <div class="col-md-4">
      <div class="row-fluid user-infos">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="row-sm-height">
                  <div class="col-md-3 col-sm-height col-sm-middle">
                    <img src="http://gravatar.com/avatar/ffc6005d7f45c5e53f73526252ff70a8?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-94696e1c3870f64217a8040eedd4a1ed.png" alt="User Pic">
                  </div>
                  <div class="col-md-6 col-sm-height">
                    <strong>Informazioni sull'utente</strong><br><br>
                    <table class="table table-condensed table-responsive table-user-information">
                      <tbody>
   
                        <tr>
                          <td>username:</td>
                          <td>Valore</td>
                        </tr>
                        <tr>
                          <td> first name: </td>
                          <td>Valore</td>
                        </tr>
                        <tr>
                          <td>last name: </td>
                          <td>Valore</td>
                        </tr>
                        <tr>
                          <td>email: </td>
                          <td>Valore</td>
                        </tr>
                        <tr>
                          <td>Numero di telefono:</td>
                          <td>valore</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-3 col-sm-height col-sm-middle">
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>