<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='./css/style.css') }}"
    />
  </head>
  <body>
    <div class="py-5 text-center bg-dark w-100">
      <div id="title"></div>
      <div class="row">
        <div
          id="rspi"
          class="container mx-auto col-md-6 col-10 p-3 bg-white"
        ></div>
      </div>
      <div class="mx-auto p-2">
        <button class="btn btn-primary" id="add">Add RSPi</button>
        <button class="btn btn-primary" id="logout">logout</button>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script>
      url = new URL(window.location.href);
      const vett = url.pathname.split("/");
      const user = vett[2];

      $("#add").click(async () => {
        window.location.href = `${url.origin}/view/${user}/rspreg`;
      });

      $("#logout").click(async () => {
        const rowRes = await fetch(`/user/logOut`);
        const res = await rowRes.json();

        if (res.status == "200") {
          console.log(res.status);
          window.location.href = "login";
        }
      });

      $(document).ready(async () => {
        console.log("ready");
        console.log(url);
        console.log(vett);
        $("#title").append(`<h1 class='text-primary'>Welcome ${user}</h1>`);

        const res = await fetch(`${url.origin}/RSPi?user=${user}`);
        const resj = await res.json();
        console.log(resj);
        if (resj.status != "200") {
          alert(`errore: ${resj.message}`);
        } else {
          const data = resj.data;
          console.log(data);

          for (rspi of data) {
            $("#rspi").append(
              `<h3>- <a href="${url.origin}/view/${user}/${rspi.mac}"> ${rspi.mac} </a>, mode: ${rspi.mode}</h3>`
            );
          }
        }
      });
    </script>
  </body>
</html>
