<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='./css/style-welcome.css') }}"
    />
    <link rel="stylesheet" href="../static/css/style-welcome.css" />
  </head>
  <body>
    <main class="main">
      <aside class="sidebar">
        <nav class="nav">
          <ul>
            <li class="active" id="rspiList"><a href="#">Raspberry List</a></li>
            <li class="" id="userInfo"><a href="#">User info</a></li>
            <li class="" id="add"><a href="#">Add rspi</a></li>
            <li class="" id="logout"><a href="#">Sign Out</a></li>
            <li class="" id="logout"><a href="/view">Back to home</a></li>
          </ul>
        </nav>
      </aside>
      <section class="twitter">
        <div class="container">
          <div class="container_2" id="contenitore">
            <!--  CARD RSPI   -->
          </div>
        </div>
      </section>
    </main>

    <div id="popup">
      <h2>title</h2>
      <p>testo testo testo testo testo testo testo testo testo</p>
      <button onclick="togglePopup()">Close</button>
    </div>

    <script type="text/html" id="rspi">
      <div class="card_2">
        <img
          src="{{ url_for('static', filename='./image/RPi-Logo-PRINT.png') }}"
        />
        <div class="card-body_2">
          <div class="card-text_2">
            <h3>Raspberry Id: %mac%</h3>
          </div>
          <button onclick="togglePopup()">Sensor...</button>
        </div>
      </div>
    </script>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>

    <script src="{{ url_for('static', filename='./js/userPage.js') }}"></script>
  </body>
</html>
