<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='./css/style-welcome.css') }}"
    />
    <link rel="stylesheet" href="../static/css/style-welcome.css" />
  </head>
  <body>
    <main class="main">
      <aside class="sidebar">
        <nav class="nav">
          <ul>
            <li class="active" id="rspiList"><a href="#">Raspberry List</a></li>
            <li class="" id="userInfo"><a href="#">User info</a></li>
            <li class="" id="add"><a href="#">Add rspi</a></li>
            <li class="" id="logout"><a href="#">Sign Out</a></li>
          </ul>
        </nav>
      </aside>
      <section class="twitter">
        <div class="container">
          <div class="container_2" id="contenitore">
            <!--  CARD RSPI   -->
          </div>
        </div>
      </section>
    </main>

    <div id="popup">
      <h2>title</h2>
      <p>testo testo testo testo testo testo testo testo testo</p>
      <button onclick="togglePopup()">Close</button>
    </div>

    <script type="text/html" id="rspi">
      <div class="card_2">
        <img
          src="{{ url_for('static', filename='./image/RPi-Logo-PRINT.png') }}"
        />
        <div class="card-body_2">
          <div class="card-text_2">
            <h3>Raspberry Id: %mac%</h3>
          </div>
          <button onclick="togglePopup()">Sensor...</button>
        </div>
      </div>
    </script>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript">
      url = new URL(window.location.href);
      const vett = url.pathname.split("/");
      const user = vett[2];
      const card = $("#rspi").text();

      function togglePopup() {
        var popup = document.getElementById("popup");
        popup.classList.toggle("active");
      }
      //_______________________________________________________________________________

      $(document).ready(async () => {
        console.log("ready");
        console.log(url);
        console.log(vett);

        const res = await fetch(`${url.origin}/RSPi?user=${user}`);
        const resj = await res.json();
        console.log(resj);
        if (resj.status != "200") {
          alert(`errore: ${resj.message}`);
        } else {
          const data = resj.data;
          console.log(data);

          for (rspi of data) {
            $("#contenitore").append(
              card.replace("%mac%", rspi.name ? rspi.name : rspi.mac)
            );
          }
        }
      });

      //_______________________________________________________________________________
      $("#logout").click(async () => {
        console.log("ciao");
        const rowRes = await fetch(`/user/logOut`);
        const res = await rowRes.json();

        if (res.status == "200") {
          console.log(res.status);
          window.location.href = "login";
        }
      });
      //_______________________________________________________________________________
      $("#add").click(async () => {
        window.location.href = `${url.origin}/view/${user}/rspreg`;
      });

      $("#rspiList").click(async () => {
        const res = await fetch(`${url.origin}/RSPi?user=${user}`);
        const resj = await res.json();
        console.log(resj);
        if (resj.status != "200") {
          alert(`errore: ${resj.message}`);
        } else {
          const data = resj.data;
          console.log(data);

          for (rspi of data) {
            $("#contenitore").append(
              card.replace("%mac%", rspi.name ? rspi.name : rspi.mac)
            );
          }
        }
      });

      [$("#rspiList"), $("#userInfo"), $("#add"), $("#logout")].forEach(
        (el) => {
          el.click(() => {
            $("#contenitore").empty();

            el.attr("class", "active");
            el.siblings().attr("class", "");
          });
        }
      );

      $("#userInfo").click(async () => {
        Res = await fetch(`${url.origin}/user`);
        res = await Res.json();
        if (res.status != "200") {
          alert(`Error : ${res.status}: ${res.message}`);
        } else {
        }
      });
    </script>
  </body>
</html>
